PORT=4000
NODE_ENV=development

# Local con XAMPP
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ecommerce_db
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# Frontend permitido por CORS
FRONTEND_URL=http://localhost:3000
